body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    position: relative;
    min-height: 100vh;
}

nav {
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    border-width: thick;
    text-transform: uppercase;
}

.nav-left {
    float: left;
    font-size: large;
    vertical-align: middle;
    margin: 15px;
}
.nav-left:hover {
    font-weight: bolder;
}

.nav-right {
    float: right;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

li {
    margin-right: 15px;
    margin-left: 15px;
}

li:hover {
    font-weight: bolder;
}

header {
    display: block;
    background-color: #f5f8fa;
    text-align: center;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(207, 199, 199);
    border-style: solid;
    padding-bottom: 2.5rem;
}

#self-portrait {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color:#b7b8b8;
    background-color: white;
    padding: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    background-color: #b7b8b8;
}

.name {
    font-size: 300%;
}

.title, .descriptors {
    font-size: 155%;
    color: rgb(180, 178, 178);
    line-height: 150%;
}

.title {
    font-style: italic;
}

.title:link {
    color: black;
}

.title:visited {
    color: blue;
}

main {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f8fa;
    border-width: 1px 0 0 0;
    border-color: rgb(207, 199, 199);
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-left {
    font-size: small;
    display: inline-block;
    float: left;
    color: rgb(180, 178, 178);
}

.footer-right {
    float: right;
    display: inline-block;
    margin-top: 8px;
}

.fa-brands, .fa-solid {
    object-fit: contain;
    padding-right: .5rem;
    color: rgb(180, 178, 178);
}

.fa-linkedin:hover {
    visibility: visible;
}
